body {
    background-color: white;
    color: black;
    padding: 0;
}
body.dark-mode {
    background-color: #333;
    color: white;
}

#logo {
    max-width: 5%;
    max-height: 5%;
    cursor: pointer;
    float: left;
}
.navbar {
    margin-left: 10%;
}
a {
    text-decoration: none;
    color: black;
}
a:not(#logo-anchor, #settings){
    opacity: .3;
}
a:hover {
    color: #30D5C8;
}
#settings img {
    cursor: pointer;
    max-width: 5%;
    max-height: 5%;
}
#feed {
    margin-right: 3%;
}
#profile {
    margin-right: 3%;

}
#messages {
    margin-right: 3%;
}
#notifications {
    margin-right: 3%;
}
#discover {
    margin-right: 3%;
}
#settings {
    margin-left: 3%;
}
.sidebar {
    text-align: right;
    float: right;
    margin-top: 50%;
    width: 20%;
}
@keyframes flashLink {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        transform: scale(1);
    }
}
a:not(#logo-anchor, #settings):clicked